.aside{
    position: fixed;
    right: 1;
    margin-left: 640px;
    width: 100%;
    height: calc(100vh - 90px);
    max-width: 295px;
}

@media screen and (max-width: 1000px){
    .aside{
        display: none;
    }
}