:root{
    --color-primary: #fafafa;
    --color-secondary: #ffffff;
    --color-tertiary: #dbdbdb;
    --color-quaternary: #efefef;
    --color-quinary: black;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body{
    background-color: var(--color-primary);
}

#root{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}