:root{
    --color-primary: #fafafa;
    --color-secondary: #ffffff;
    --color-tertiary: #dbdbdb;
    --color-quaternary: #efefef;
    --color-quinary: black;
    --text-primary: #262626;
    --text-secondary: #8e8e8e;
    --text-tertiary: #0095F6;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family:  Helvetica, Arial, sans-serif;
}

body{
    background-color: var(--color-primary);
}

#root{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}