.aside__suggestions--container{
    width: 100%;
    height: 290px;
    margin-bottom: 15px;
}

.suggestions--container-title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 30px;
}
.suggestions--container-title h3{
    font-size: 1.3rem;
    color: var(--text-secondary);
} 
.suggestions--container-title a{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-primary);
    cursor: pointer;
} 

.aside__suggestions--container .suggestions-iteams{
    width: 100%;
    height: 100%;
}